In [1]:
import pandas as pd
pd.set_option('display.float_format', '{:.2f}'.format)
df = pd.read_excel("ofw.xls",sheet_name="Monthly 2019",skiprows=9)

In [2]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Country,Unnamed: 6,Jan,Feb,Mar,...,Aug,Sep,Oct,Nov,Dec,Unnamed: 19,2018,2019,Unnamed: 22,Rates (%)
0,nan,nan,nan,nan,NaN,NaN,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
1,nan,nan,nan,nan,NaN,NaN,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
2,nan,nan,nan,nan,NaN,TOTAL 1,nan,2483616.38,2300796.66,2514251.21,...,2589236.32,2379041.95,2671198.90,2372398.54,2902415.63,nan,28943111.94,30133299.90,nan,4.11
3,nan,nan,nan,nan,NaN,Landbased,nan,1950660.36,1777129.76,1986976.43,...,2046178.19,1843590.15,2116563.65,1843825.25,2314054.96,nan,22803599.61,23594054.11,nan,3.47
4,nan,nan,nan,nan,NaN,Seabased,nan,532956.02,523666.91,527274.77,...,543058.13,535451.80,554635.25,528573.29,588360.67,nan,6139512.33,6539245.79,nan,6.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
934,nan,nan,nan,nan,,NOTE: There are some limitations on the remit...,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
935,nan,nan,nan,nan,NaN,correspondent banks mostly located in the U.S....,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
936,nan,nan,nan,nan,NaN,source and are lodged under the country where ...,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
937,nan,nan,nan,nan,NaN,the main sources of OF remittances because ban...,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
938,nan,nan,nan,nan,NaN,Source: Data are based on bank reports submi...,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN